.form{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex: 0.1 0.5 200px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    background-color: #F7F7F7;
  
}
form{
    margin: 1rem;
    padding:1rem;
}
label{
    /* display: block; */
    text-align: left;
    font-weight: 400;
}
input{
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    font-family:'Montserrat', sans-serif ;
}
button{
    margin: 0.5rem;
    padding: 0.5rem;
    font-family:'Montserrat', sans-serif ;
    border-radius: 4px;
    background-color: #17181C;
    color: white;

}